<!-- Author: Justin Barlowe
Title: footer.ejs
Date: 6/13/2023
Description: Footer partial for Pets-R-Us -->


<div class="footer">
  <footer>
    <hr />
    <ul class="footer-links">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/grooming">Grooming</a>
      </li>
      <li>
        <a href="">Training</a>
      </li>
      <li>
        <a href="">Placeholder</a>
      </li>
      <li>
        <a href="">Placeholder</a>
      </li>
      <li>&copy; 2023 | Justin Barlowe | Bellevue University</li>
    </ul>
  </footer>
</div>
