<!-- Author: Justin Barlowe
Title: footer.ejs
Date: 6/13/2023
Description: Footer partial for Pets-R-Us -->

</div>
<div class="footer">
  <footer>
    <hr width=200px>
    <ul class="footer-links">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/grooming">Grooming</a>
      </li>
      <li>
        <a href="/training">Training</a>
      </li>
      <li>
        <a href="/boarding">Boarding</a>
      </li>
      <li>
        <a href="">Placeholder</a>
      </li>
      <hr width=200px>
      <li>Images courtesy of Pixabay</li>
      <li>&copy; 2023 | Justin Barlowe | Bellevue University</li>
    </ul>
  </footer>
</div>
