<!-- Author: Justin Barlowe
Title:header.ejs
Date: 6/13/2023
Description: Header partial for Pets-R-Us -->

<header class="site-header">
  <div class="wrapper site-header-container">
    <div class="site-header">
      <img src="./images/header-icon.png" />
      <a href="/" class="logo">Pets-R-Us</a>
    </div>
    <nav class="nav">
      <ul class="nav-container">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/grooming">Grooming</a></li>
        <li class="nav-link"><a href="/training">Training</a></li>
        <li class="nav-link"><a href="/boarding">Boarding</a></li>
        <li class="nav-link"><a href="#">Placeholder</a></li>
      </ul>
    </nav>
  </div>
</header>
