<%- include('partials/head.ejs') %>
<header><%- include('partials/header.ejs') %></header>
<hr>
<div class="boardingdescription">
<h1>Boarding</h1>
<p>Welcome to Pets-R-Us Boarding, where we provide a safe and comfortable environment for your furry friends while you're away. Our state-of-the-art facility, attentive staff, and personalized care ensure that your pets receive the love, attention, and fun they deserve. With spacious accommodations, engaging activities, and round-the-clock supervision, we offer a worry-free boarding experience for your beloved companions.</p>

    <h2>Safe and Comfortable Accommodations</h2>
    
    <p>At Pets-R-Us, we understand that your pet's comfort and well-being are of the utmost importance. Our modern and spacious boarding suites are designed to provide a cozy and secure environment for your furry friends. Each suite is equipped with a comfortable bed, fresh bedding, and climate control to ensure optimal comfort throughout their stay. We also offer separate accommodations for dogs and cats to cater to their unique needs.</p>
    
    <h2>Engaging Activities and Socialization</h2>
    
   <p> We believe in keeping our boarders happy and active during their stay. Our facility offers a range of activities to stimulate both mind and body. From supervised playtime in our spacious play areas to interactive toys and games, we provide ample opportunities for exercise and socialization. Our dedicated staff ensures that each pet receives personalized attention and plenty of affection, making their stay enjoyable and fulfilling.</p>
</div>
<hr>
<div class="boardingpricing">
    <h1>Pricing</h1>
    <div class="two-equal-columns">
        <div class="boardingpricingcard">
            <h2>Under 5 nights</h2>
            <p>1 Dog: $25/Night</p>
            <p>2 Dogs: $35/Night</p>
            <p>3 Dogs: $40/Night</p>
        </div>
        <div class="boardingpricingcard">
            <h2>Over 5 nights</h2>
            <p>1 Dog: $20/Night</p>
            <p>2 Dogs: $30/Night</p>
            <p>3 Dogs: $35/Night</p>
        </div>
    </div>
</div>
<footer><%- include('partials/footer.ejs') %></footer>