<%- include('partials/head.ejs') %>
<header><%- include('partials/header.ejs') %></header>
<hr>
<div class="trainingheader"><h1>Training</h1></div>
<div class="trainingimg">
  <img src="images/training.jpg" alt="Dog Training" />
</div>
<div class="trainingdescription">
  <p>
    Sarah's lifelong passion for animals led her to pursue a career in
    professional training. Armed with a degree in Animal Behavior and expertise
    in positive reinforcement techniques, she possesses the skills to
    effectively communicate and connect with pets of all types. Sarah firmly
    believes in using gentle methods that foster trust, confidence, and
    understanding between humans and their beloved companions.
  </p>

  <p>
    Her training approach is tailored to meet the unique needs of each pet.
    Whether you have a playful puppy, a mischievous kitten, or a senior dog with
    specific requirements, Sarah's patient and compassionate methods ensure
    personalized attention for optimal results.
  </p>

  <p>
    Beyond obedience training, Sarah specializes in addressing behavioral issues
    such as separation anxiety, leash pulling, and aggression. Her expertise and
    positive reinforcement techniques help pets overcome these challenges,
    fostering a sense of calm and balance in their lives.
  </p>

  <p>
    Pets-R-Us is proud to have Sarah as part of our team. Her dedication,
    knowledge, and unwavering commitment to animal welfare make her an
    exceptional trainer. Rest assured that when you entrust your pet to Sarah,
    they are in capable and caring hands.
  </p>

  <p>
    Contact us today to schedule a consultation with Sarah. Together, we can
    nurture a stronger bond and create a happier, more obedient, and
    well-rounded member of your family.
  </p>
</div>
<hr />
<div class="trainingpricing">
  <h1>Pricing</h1>
  <div class="three-equal-columns">
    <div class="pricingcard">
      <h2>Puppy</h2>
      <p>Basic Obedience: Sit, Stay, Come</p>
      <p>House Training: Potty Training, Crate Training</p>
      <h2>Price: $50/hr</h2>
    </div>
    <div class="pricingcard">
      <h2>Adolescent</h2>
      <p>Leash Training: Loose Leash Walking, Heel</p>
      <p>Socialization: Dog-to-Dog, Dog-to-Human</p>
      <h2>Price: $70/hr</h2>
    </div>
    <div class="pricingcard">
      <h2>Adult</h2>
      <p>Advanced Obedience: Down, Leave It,
      Recall</p>
      <p>Behavior Modification: Separation Anxiety, Fearfulness</p>
      <h2>Price: $70/hr</h2>
    </div>
  </div>
</div>
<footer><%- include('partials/footer.ejs') %></footer>
